header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

nav {
  display: none;
}
